# OS-specific files
.DS_Store
.AppleDouble
.LSOverride
Icon_
._*
.Spotlight-V100
.Trashes

# IDEs and editors
.vscode/
.vscodium/
*.code-workspace

# Node / Package managers (if used)
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml
.eslintcache

# Production builds (if using bundlers)
dist/
build/
out/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment variables
.env
.env.local
